/*-----------------///Container///---------------------*/

.show-card{
    display: flex;
    flex-direction: row;
    padding: 10px 12px;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
    font-family: var(--page-text),sans-serif;
    color: var(--page-text-color);
}

.show-card:hover{
    background-color: gray;
    color: var(--page-text-color);
}

.show-entry{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    line-height: 22px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-color: gray;
}

/*-----------------///Show elements///---------------------*/

.show-entry-title{
    font-size: 24px;
}

.show-entry-info{
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
}

.show-entry-ticket-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-entry-ticket-button button{
    background-color: var(--secondary-color);
    padding: 10px 0px;
    width: 200px;
    font-size: 18px;
}

/*-----------------///Media Queries///---------------------*/

@media screen and (max-width: 576px) {
    .show-entry-ticket-button button{
        width: 100px;
        font-size: 13px;
    }

    .show-entry-title{
        font-size: 18px;
    }
    .show-entry-date{
        font-size: 13px;
    }

}
