/*-----------------///Image section///---------------------*/

.login-quote{
    font-family: var(--banner-text), sans-serif;
    font-size: 4rem;
    color: var(--banner-text-color);
    -webkit-text-stroke: 1px white;
}