/*-----------------///Container///---------------------*/

.submission-block{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    font-family: var(--page-text), sans-serif;
    border-radius: 10px;
}

/*-----------------///Upper///---------------------*/

.submission-block-content{
    padding-left : 20px;
    padding-right : 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.submission-block-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.submission-block-content a {
    text-decoration: none;
}

.submission-block-content audio{
    width: 100%;
    margin-bottom: 10px;
}

/*-----------------///Footer///---------------------*/

.submission-block-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
    width: 100%;
    color: var(--page-text-color);
    background: #4E443B;
    border-radius: 0 0 10px 10px;
}



