/*-----------------///Container///---------------------*/

.feedback-container{
    display: flex;
    flex-direction: row;
    border: 1px solid transparent;
    border-color: var(--border-color);
    width: calc(100% - 400px);
    min-width: 600px;
    flex-shrink: 2;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
}

.feedback-container label{
    color: var(--page-text-color);
    font-family: var(--page-text), sans-serif;
    font-size: 1.2em;
}

.feedback-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2%;
}

/*-----------------///Submission info///---------------------*/

.feedback-info{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    padding: 10px;
    border-right: 1px solid transparent;
    border-color: var(--border-color);
}

.feedback-info audio{
    width: 90%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.submission-title {
    font-size: 2.1em;
}

/*-----------------///Feedback///---------------------*/

.feedback-display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--page-text-color);
    font-family: var(--page-text), sans-serif;
    padding: 10px;
    flex-basis: 40%;
    gap: 10px;
}

.feedback-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

.feedback-textarea{
    background: transparent;
    color: var(--page-text-color);
    font-family: var(--page-text), sans-serif;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
    resize: none;
}

/*-----------------///Media Queries///---------------------*/

@media screen and (max-width: 576px) {
    .feedback-container{
        flex-direction: column;
        width: calc(100% - 5px);
        min-width: 100px;
        height: 100%;
    }

    .feedback-info{
        border-right: none;
        border-bottom: 1px solid transparent;
        border-color: var(--border-color);
    }
}