/*-----------------///HEADER///---------------------*/

header{
    background-color: rgb(208, 208, 208, 0.6);
    width: 100vw;
}

#header-color-section{
    color: var(--primary-color);
    margin-right: 5px;
    font-weight: bold;
}

.navbar-logo-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    max-width: 200px;
}

.navbar-logo-button:hover{
    cursor: pointer;
}

.navbar-logo-button img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.navbar-logo{
    align-self: flex-start;
    margin-left: 35px;
}

/*-----------------///Navbar///---------------------*/

.navbar, .navbar ul, .navbar-item-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar{
    justify-content: space-between;
}

.navbar-item-container{
    margin-right: 35px;
}

.navbar ul{
    gap: 50px;
}

.navbar li{
    display: flex;
}

/*-----------------///Media Queries///---------------------*/

@media screen and (max-width: 576px) {
    .navbar{
        justify-content: center;
    }

    .navbar-logo{
        flex: 0 0 0;
        width: 0;
        overflow: hidden;
    }

    .navbar ul{
        flex: 1;
        align-self: center;
    }

    .image-container {
        width: 0;
    }
}