/*-----------------///Player///---------------------*/

.playlist-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 366px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.playlist-player-body{
    width: 70%;
    background: none;
    align-items: center;
    padding: 0 0.5em;
}

.playlist-player-body audio{
    width: 100%;
    margin-top: 10%;
}

/*-----------------///Playlist///---------------------*/

.playlist-list-header{
    text-align: center;
    font-family: var(--page-text), sans-serif;
    font-weight: bold;
}

.playlist-list-body{
    width: 30%;
    overflow-y:scroll;
    border: 1px solid var(--border-color);
}

.playlist-title{
    margin-bottom: 2%;
    margin-left: 10%;
}

.playlist-list-body ul{
    padding-inline-start: 0;
    list-style: none;
}

.playlist-list-body li{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-color: gray;
    font-family: var(--page-text), sans-serif;
    padding: 15px 6px;
    margin-bottom: 2px;
}

.playlist-list-body li:hover{
    background-color: gray;
}

.playlist-list-body li:active{
    background-color: var(--primary-color);
}


/*-----------------///Media Queries///---------------------*/

@media screen and (max-width: 576px) {
    .playlist-container{
        flex-direction: column;
        max-height: 600px;
        gap: 10px;
    }

    .playlist-player-body{
        width: 100%;
    }

    .playlist-list-body{
        width: 100%;
        max-height: 40%;
        overflow-y:scroll;
    }
}