header{
  background-color: var(--background);
  width: 100vw;
}

.navbar, .navbar ul, .navbar div{
  display: flex;
  flex-direction: row;
}
.navbar{
  justify-content: space-between;
}

.navbar ul{
  align-self: flex-end;
  margin-right: 15px;
  gap: 35px;
}
.navbar li{
  display: flex;
}

.navbar div{
  align-self: flex-start;
  gap: 10px;
}