/*-----------------///Filter///---------------------*/

section{
  margin-top: 3%;
  margin-bottom: 3%;
  color: white;
  display: flex;
  justify-content: center;
}

.header-color{
  color: var(--primary-color);
}

hr{
  border: 1px solid grey;
  width: 85%;
  font-family: var(--page-text),sans-serif;
  font-weight: bold;
}

.content-container{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.content-container-inner{
  display: flex;
  flex-direction: row;
}

.about-img{
  width: 80%;
}

.about-img img{
  width: 100%;
}

/*-----------------///Show section///---------------------*/

.content-show-container{
  display: flex;
  flex-direction: row;
  padding: 10px 12px;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  font-family: var(--page-text),sans-serif;
  color: var(--main-text);
}

.content-show-container:hover{
  background-color: gray;
  color: var(--main-text);
}

.content-show-entry{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  line-height: 22px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-color: gray;
}

.show-location-text{
  font-size: 24px;
}

.show-entry-ticketButton{
  display: flex;
  justify-content: center;
  align-items: center;
  }

.show-entry-ticketButton button{
  background-color: var(--secondary-color);
  padding: 10px 0px;
  width: 200px;
  font-size: 18px;
}



/*-----------------///Media Queries///---------------------*/

@media screen and (max-width: 576px) {
  .content-container{
    width: 100%;
  }
}