/*-----------------///Filter///---------------------*/
.content-wrapper{
  display: flex;
  align-items: stretch;
}

.upload-upper{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: calc(100% - 40px);
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  background: deeppink;
}

.upload-info{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.upload-input{
  display: flex;
  flex-direction: column;
}

.upload-bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: yellow;
}

/*-----------------///Media Queries///---------------------*/

@media screen and (max-width: 576px) {
  .content-container{
    flex-direction: column;
    align-items: center;
  }
  .filter-container{
    width: 95%;
  }

  .checkbox-container{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
  }
  .content-container-right{
    width: 95%;
    align-self: center;
  }
}