@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root{
  --background: #120309;
  --background-block-color: #4E443B;
  --border-color: #868686;
  --primary-color: #DF922D;
  --secondary-color: #03CEA4;
  --inverted-color: #D9D9D9;
  --error-color: #E0240B;

  --title-text: ibm-plex;
  --title-text-color: #fff;
  --title-text-size: 3.2em;
  --title-text-weight: bold;

  --page-text-color: #fff;
  --page-text-color-inverted: #000;
  --page-text: Poppins;

  --banner-text: "Orbitron";
  --banner-text-color: #120309;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
}

body,html {
  margin: 0;
  padding: 0;
  background: var(--background);
  overflow-x: hidden;
}

h1{
  font-family: var(--title-text), sans-serif;
  font-weight: var(--title-text-weight);
  font-size: var(--title-text-size);
  color: var(--title-text-color);
  line-height: 1.1;
}

button{
  text-transform: uppercase;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}