/*-----------------///Content Section///---------------------*/

.page-wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    border: 1px solid yellow;
}

/*-----------------///Form///---------------------*/

h1{
    font-size: var(--title-text-weight);
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    background: var(--background);
    border: 1px solid deeppink;
    color: var(--main-text);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-container form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    align-items: center;
}

.form-container input {
    height: 40px;
    background-color: var(--background);
    border: 1px solid var(--border-color);
    color: var(--main-text);
    width: 85%;
}

::placeholder {
    color: lightgray;
    opacity: 40%;
}

.hr-line{
    border: 1px solid grey;
    width: 90%;
}

.form-container a {
    color: #0958BD;
    font-size: 21px;
    text-decoration: none;
    font-weight: bold;
    font-family: merriweather-sans;
}

.form-container a:hover {
    text-decoration: underline;
    color: #1372EF;
}

.form-container button{
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
}

.register-button {
    background-color: var(--secondary-color);
    color: var(--main-text);
    width: 60%;
}

/*-----------------///Image section///---------------------*/

.image-container {
    display: flex;
    flex-shrink: 2;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
    background-image: url(src/assets/img/dj-background-login-image.jpg);
    background-size: cover;
    background-position: center;
}

/*-----------------///Media Queries///---------------------*/

@media screen and (max-width: 576px) {
    .input-container {
        background-color: yellow;
        width: 100%;
    }
    .image-container {
        width: 0;
    }
}
