.error-section {
    min-height: 84vh;
    text-align: center;
}

.error-section h1 {
    color: var(--error-color);
    font-size: 20em;
    margin-block: 0;
}

.error-section h2 {
    text-transform: uppercase;
    font-family: var(--page-text), sans-serif;
    letter-spacing: 0.2em;
}

.error-section p {
    margin-bottom: 2em;
}